#container {
    margin-top: 25vh;
    margin-left: 40vw;
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: fit-content;
    block-size: fit-content;
    border: solid red 5px;
}

#container div {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid red 2px;
}

/*width: 50%;*/
/*display: grid;*/
/*grid-template-columns: repeat(3,auto);*/